name: CI

on: pull_request

jobs:
    test:
        name: Testing Complete
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: trilom/file-changes-action@v1.2.3

            # Check to see whether Test Workflow will be run. If it will be, then wait
            # for it to be finished.
            - name: Check if Test Workflow will be run
              id: test_workflow_run
              run: |
                 python matcher.py "${HOME}/files.json" \
                    "test/**" > /tmp/result.txt

                 if $(cat /tmp/result.txt); then
                   echo "::set-output name={will_run}::{true}"
                 else:
                   echo "::set-output name={will_run}::{false}"
            - name: Wait for Backend Tests
              uses: fountainhead/action-wait-for-check@v1.0.0
              id: wait_for_test_workflow_run
              if: steps.test_workflow_run.outputs.will_run == "true"
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
                checkName: Test Workflow
                ref: github.event.pull_request.head.sha

              
