on: pull_request

jobs:
    test:
        name: Testing Complete
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: trilom/file-changes-action@v1.2.3

            # Check to see whether Test Workflow will be run. If it will be, then wait
            # for it to be finished.
            - name: Check if Test Workflow will be run
              id: test_workflow_run
              run: |
                 python matcher.py "${HOME}/files.json" \
                    "test/**"
            - name: Wait for Test Workflow
              uses: fountainhead/action-wait-for-check@v1.0.0
              id: wait_for_test_workflow_run
              if: steps.test_workflow_run.outputs.will_run == 'true'
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
                checkName: Test Workflow
                ref: github.event.pull_request.head.sha
            - name: Check status of Test Workflow
              if: steps.test_workflow_run.outputs.will_run == 'true' && wait_for_test_workflow_run.outputs.conclusion != 'success'
              run: exit 1
                

              
