name: CI (Dummy)

on:
    pull_request:
        paths-ignore:
            - "test/**"

jobs:
    test:
        name: Test Workflow
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Run Tests
              run: echo "Done!"
