name: Deploy PR
on:
  pull_request:
  push:
    branches:
      - master
      - production
      - release/**

jobs:
  optional:
    runs-on: ubuntu-latest
    steps:
      - name: Set environment (dev)
        if: ${{ github.event_name == 'pull_request' && contains(github.base_ref, 'master') }}
        run: |
          echo '::set-env name=ENV::dev'
          echo '::set-env name=PR_NUMBER::${{ github.event.pull_request.number }}'

      - name: Set environment (test)
        if: ${{ github.event_name == 'push' && contains(github.ref, 'master') }}
        run: echo '::set-env name=ENV::test'

      - name: Set environment (beta)
        if: ${{ github.event_name == 'pull_request' && contains(github.base_ref, 'production') }}
        run: echo '::set-env name=ENV::beta'

      - name: Set environment (prod)
        if: ${{ github.event_name == 'push' && contains(github.ref, 'production') }}
        run: echo '::set-env name=ENV::prod'
